@import "../theme/variables";
@import "../theme/fonts";

body {
  background-color: $color-body-background;
  font-family: "Open Sans", Arial, sans-serif, Helvetica, "Helvetica-Light";
}

.App {
  color: $color-white;

  .header {
    display: block;
    text-decoration: none;
    color: inherit;
    overflow: auto;
    padding: 15px;

    img {
      float: left;
      height: 70px;
      margin-right: 1em;
    }
  }

  hr {
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0.15;
  }
}
